body {
    margin: 0;
    background: url(k2.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'normal';
    overflow: hidden;
    user-select: none;
}

@font-face {
    font-family: 'normal';
    src: url('normal.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.taskbar {
    width: 100vw;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.5);
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.time {
    color: white;
}

.desktop-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.window {
    width: 600px;
    height: 700px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    position: absolute;
    color: white;
    display: inline-block;
    backdrop-filter: blur(100px);
}

.window-title {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.window-text {
    margin-top: 15px;
    margin-left: 15px;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.blink {
    animation: blink 1.5s infinite;
}

.searchbar {
    width: 200px;
    height: 30px;
    background: rgb(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 5px;
    padding-left: 10px;
    font-family: 'normal';
}

.purple {
    color: #f47fff;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}